#services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 50px;
}
.servicesbox_img {
  max-width: 320px;
  filter: grayscale(60);
}
.servicesbox_img:hover {
  transition: all 0.5s ease-in-out;
  filter: revert;
}
.servicesbox_body {
  margin-top: 10px;
}

.servicesbox_title {
  margin-top: 10px;
}
.servicesbox {
  text-align: center;

  padding-bottom: 20px;
}

@media screen and (min-width: 1244px) {
  .servicesbox_img {
    max-width: 400px;
  }
}

@media screen and (min-width: 600px) and (max-width: 950px) {
  #services {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 50px;
  }
  .servicesbox_img {
    filter: revert;
  }
}
@media screen and (max-width: 600px) {
  #services {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 50px;
  }
  .servicesbox_img {
    max-width: 400px;
    filter: revert;
  }
}
