#root {
  margin: 0 auto;
  padding: 0 auto;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #084430aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61fba4aa);
}

@font-face {
  font-family: fuenteStephie;
  src: url(Stephanefotografias-React/styles/font/Tipografía/._Spectral-Italic.ttf);
}
/* Reset CSS */

html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  font-family: fuenteStephie;
}

ol,
ul {
  list-style: none;
}

/* Color Theme Swatches in Hex */
.verde-azul-oscuro-1-hex {
  color: #679e91;
}
.verde-azul-oscuro-2-hex {
  color: #335c54;
}
.verde-azul-oscuro-3-hex {
  color: #0a2913;
}
.verde-azul-oscuro-4-hex {
  color: #3c6330;
}
.verde-azul-oscuro-5-hex {
  color: #5e8a67;
}

:root {
  --white-color: rgba(255, 255, 255, 0.822);
  --primary-color: #0a2913;
  --secondary-color: #335c54;
  --section-bg-color: #5e8a67;
  --custom-btn-bg-color: grey;
  --custom-btn-bg-hover-color: #0a2913;
  --dark-color: #000000;
  --p-color: rgba(255, 255, 255, 0.822);
  --border-color: #679e91;
  --link-hover-color: rgba(238, 232, 232, 0);
}

#homeview {
  display: flex;
  flex-direction: row;
}

/*---------------------------------------
        REVIEWS SECTION              
      -----------------------------------------*/

.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

.timeline::after {
  content: "";
  position: absolute;
  width: 5px;
  background-color: grey;
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-container {
  padding: 10px 40px;
  padding-top: 0;
  position: relative;
  background-color: inherit;
  width: 50%;
}

.timeline-container::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -12px;
  background-color: grey;
  border: 5px solid rgba(128, 128, 128, 0.714);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-container-left {
  left: 0;
}

.timeline-container-right {
  left: 50%;
}

.timeline-container-left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  right: 25px;
  border: medium solid grey;
  border-width: 20px 0 20px 20px;
  border-color: transparent transparent transparent rgb(221, 218, 218);
}

.timeline-container-right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 9px;
  width: 0;
  z-index: 1;
  left: 25px;
  border: medium solid rgb(202, 195, 195);
  border-width: 20px 20px 20px 0;
  border-color: transparent rgb(216, 215, 215) transparent transparent;
}

.timeline-container-right::after {
  left: -13px;
}

.timeline-content {
  padding: 5px;
  background-color: rgba(240, 240, 240, 0.936);
  position: relative;
  border-radius: var(--border-radius-medium);
  transition: all 0.5s ease-in-out;
}
.timeline-content:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.95);
  overflow: hidden;
}

@media screen and (max-width: 991px) {
  .timeline::after {
    left: 31px;
  }

  .timeline-container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  .timeline-container::before {
    left: 58px;
    border: medium solid beige;
    border-width: 20px 20px 20px 0;
    border-color: transparent beige transparent transparent;
  }

  .timeline-container-left::after,
  .timeline-container-right::after {
    left: 6px;
  }

  .timeline-container-right {
    left: 0%;
  }
}

#reviews {
  flex-direction: column;
}

/*---------------------------------------
        SITE FOOTER              
      -----------------------------------------*/

#Footer {
  position: absolute;
  padding: 3%;

  padding-bottom: 0px;
  padding-top: 0px;
}

.site-footer {
  /*   background-color: var(--primary-color); */
  margin-top: 150px;

  position: absolute;
}

.site-footer strong {
  color: grey;
  /*  color: var(--white-color); */
}

.site-footer p,
.site-footer-link {
  /*  color: rgba(255, 255, 255, 0.75); */
  color: grey;
  font-size: var(--btn-font-size);
  transition: all 0.3s;
  text-decoration: none;
}

.site-footer-link:hover {
  /*   color: rgba(255, 255, 255, 0.75); */
  text-decoration: underline;
}

.copyright-text {
  color: rgba(255, 255, 255, 0.75);
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: rgba(128, 128, 128, 0.764);
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 150px;
  height: auto;
  object-fit: cover;
  padding-right: 5px;
  padding-bottom: 5px;
}
/*---------------------------------------
        SOCIAL ICON               
      -----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}

/* para hacer el NAVBAR pequeño */
.smaller {
  padding-top: 1px;
  padding-bottom: 1px;
  height: 70px;
}

.smallerlogo {
  width: 70px;
  height: auto;
}
