.logo {
  height: 5em;
  width: auto;

  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #084430aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61fba4aa);
}

#navbarSteph {
  min-width: 100%;
  display: flex;
  position: relative;
  z-index: 100;
}
#navbarNav {
  text-align: right;
  justify-content: end;
}

@media screen and (max-width: 900px) {
  .logo {
    height: 3em;
    width: auto;

    will-change: filter;
    transition: filter 300ms;
  }
}

@media screen and (min-width: 1023px) {
  /* para hacer el NAVBAR pequeño */

  .smaller {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 70px;
    position: fixed;
  }
  .smallerlogo {
    padding-top: 1px;
    padding-bottom: 1px;
    height: 70px;
    position: fixed;
  }
}
