#Footer {
  position: relative;
  background-color: #f8f9fa;
  margin-top: 45px;
  padding: 5px;
  color: rgba(70, 69, 69, 0.979);
}

//624 y 924
@media screen and (min-width: 1000px) {
  .containerfooter {
    display: grid;
    grid-template-columns: 0.8fr 0.8fr 0.8fr 1.6fr;
  }
  .dondeencontrarme {
    padding-top: 50px;
  }
  .horario {
    padding-top: 50px;
  }
  .contacto {
    padding-top: 50px;
  }
  #footergallery {
    padding: 20px;
    width: 100%;
  }
}

@media screen and (max-width: 1000px) {
  .containerfooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .dondeencontrarme {
    padding-top: 20px;
    width: 100%;
  }
  .horario {
    padding-top: 20px;
    width: 100%;
  }
  .contacto {
    padding-top: 20px;
    width: 100%;
  }
  #footergallery {
    padding-top: 20px;
    width: 100%;
  }
  .copyright {
    text-align: center;
    padding-top: 10px;
  }
}

em {
  color: black;
}
.site-footer-link {
  color: rgb(46, 46, 46);
  font-size: var(--btn-font-size);
  transition: all 0.3s;
  text-decoration: none;
  margin-left: 2px;
}

.site-footer-link:hover {
  text-decoration: underline;
}

.copyright-text {
  font-size: var(--menu-font-size);
}

.copyright-text a {
  color: grey;
}

#footergallery {
  position: relative;
  flex-direction: column;
}
#footergallery img {
  width: 130px;
  height: auto;
  object-fit: cover;
  padding-right: 5px;
  padding-bottom: 5px;
}
/*---------------------------------------
          SOCIAL ICON               
        -----------------------------------------*/
.social-icon {
  margin: 0;
  padding: 0;
}

.social-icon-item {
  list-style: none;
  display: inline-block;
  vertical-align: top;
}

.social-icon-link {
  border-radius: var(--border-radius-large);
  color: var(--white-color);
  font-size: var(--menu-font-size);
  display: block;
  margin: 0 5px;
  text-align: center;
  width: 35px;
  height: 35px;
  line-height: 35px;
  transition: background 0.2s, color 0.2s;
}

.social-icon-link:hover {
  color: var(--primary-color);
}

.social-icon-link span {
  display: block;
}
.copyright {
  text-align: left;
}
