@media screen and (min-width: 1023px) {
  /*---------------------------------------
            About me               
          -----------------------------------------*/

  .titleaboutme {
    padding-top: 25px;
    padding-bottom: 15px;
    h1 {
      font-size: 6em;
    }
  }

  #aboutme {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .aboutmeimg {
    position: relative;
    display: flex;

    height: 40vw;
    aspect-ratio: 40/63;
  }

  .paragraohaboutme {
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    justify-content: center;

    p {
      padding-bottom: 20px;
      font-size: 4vh;
    }
  }
}

#img_aboutme {
  aspect-ratio: 40/63;
}
@media screen and (min-width: 830px) and (max-width: 1023px) {
  /*---------------------------------------
            About me               
          -----------------------------------------*/

  .titleaboutme {
    padding-top: 25px;
    padding-bottom: 35px;
  }
  #aboutme {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
  }

  .aboutmeimg {
    position: relative;
    display: flex;
    max-width: 300px;
    height: auto;
  }

  .paragraohaboutme {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: left;
    justify-content: center;
    max-height: 450px;
    p {
      padding-bottom: 8px;
      font-size: 3vh;
    }
  }
}
@media screen and (max-width: 830px) {
  #aboutme {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 50px;
  }
  .aboutmeimg {
    position: relative;
  }

  #img_aboutme {
    padding-top: 20px;
    padding-bottom: 10px;
    width: 400px;
    height: auto;
  }
  .titleaboutme {
    padding-top: 30px;
  }
  .cuadrodetextoaboutme {
    padding-top: 10px;
    position: relative;
  }
}
#aboutmesection {
  margin: 10px;
}
